1	TRPM8 Cold Thermosensation	rs10166942
2	TRPV1 Heat/Pain Thermosensation	rs8065080
3	BDNF Hypothalamic-Neuronal Plasticity	rs6265
4	CLOCK Circadian Regulation	rs1801260
5	CRY1 Circadian Regulation	rs2287161
6	PER3 Circadian/Sleep Timing	rs57875989
7	ADRB3 Sympathetic Thermogenesis	rs4994
8	DIO2 Tissue Thyroid Thermostat	rs225014
9	UCP1 Brown Fat Thermogenesis	rs1800592
10	FOXO3 Stress Survival Signaling	rs2802292
11	PPARGC1A Mitochondrial Adaptation	rs8192678
